<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>now food</title>
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/lienhe.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />




</head>

<body>
    <div id="wrapper">
        <div id="header">
            <a href="" class="logo">
                <img src="../images/logo1.png" alt="">
            </a>
            <div id="menu">
                <div class="item">

                    <a href="/user/home">Trang chủ</a>
                </div>
                <% if(user.length){ %>
                    <div class="item">
                        <a href="/user/gioithieu">Giới Thiệu </a>
                    </div>
                    <div class="item">
                        <a href="/user/sanpham">Sản Phẩm</a>
                    </div>
                    <div class="item">
                        <a href="/user/lienhe">Liên hệ </a>
                    </div>
                    <div class="item">
                        <a href="/user/status">status </a>
                    </div>
          
            </div>
            <div id="actions">
                <div class="item">
                    <a href="/user/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="item">
                    <a href="/user/lichsu"><i class="fa-regular fa-file"></i></a>
                </div>
                <div class="item">
                    <a href="#" id="showChat"> <i class="fa-brands fa-facebook-messenger"></i></a>
                </div>
                <div class="item">
                    <a href="/user/hoso"><i class="fa-regular fa-circle-user"></i></a>
                </div>
                
                <div class="item">
                    <a href="/user/login" id="logoutLink"><i class="fa-solid fa-arrow-right-from-bracket"></i></i></a>
                </div>
                <div id="logoutConfirmation" class="confirmation">
                    <p>Bạn có chắc chắn muốn đăng xuất?</p>
                    <button id="confirmLogout">Đồng ý</button>
                    <button id="cancelLogout">Hủy</button>
                </div>
            </div>
            <% } else { %>
                <div class="item">
                    <a href="/user/gioithieu">Giới Thiệu </a>
                </div>
        </div>
        <div id="actions">
            <div class="item">
                <a href="/user/login">đăng nhập </i></a>
            </div>
            <div class="item">
                <a href="/user/dangki">đăng kí</i></a>
            </div>

        </div>
        <% } %>

    </div>
    <div class="container1">
        <div class="header">
            <div class="container_header">
                <div class="nhanhieu">
                    <h1 class="h1_nhanhieu">Đạt Food</h1>
                </div>
                <h2 class="h2_giohang"> Giỏ hàng</h2>
            </div>

        </div>
        <div class="search">
            <form class="form-inline">
                <input style="border-color: orange;" class="form-control mr-sm-2 input" type="search"
                    placeholder="Search" aria-label="Search">
                <button style=" background-color: orange;
                color:white; border:none;" class="btn btn-outline-success my-2 my-sm-0 button1"
                    type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="container2">
        <div class="container3">
            <div class="container7">

            </div>
            <div class="container4">
                <p class="giamgia">
                    <i class="fa-solid fa-tag icon_giamgia"></i>
                    đang giảm giá sốc các mặt hàng mua nhanh kẻo hết bạn nhé
                </p>
            </div>
            <div class="container5">
                <div class="sanpham">
                    <p class="p1"> sản phẩm </p>
                </div>
                <div class="tieude">
                    <p class="p2">Đơn giá </p>
                    <p class="p2"> Số lượng</p>
                    <p class="p2">Số tiền</p>
                    <p class="p2">Thao tác</p>
                </div>
            </div>
            <% cartItems.forEach(item=> { %>
                <div class="container6">
                    <!-- Sử dụng vòng lặp để lặp qua mỗi mục trong giỏ hàng -->

                    <div class="sanpham1">
                        <!-- Hiển thị thông tin sản phẩm -->
                        <img class="anh" src="<%= item.product.anh %>" alt="">
                        <p class="p3"><i class="fa-regular fa-newspaper" style="color:orange;margin-right:3px;"></i>mặt
                            hàng: <%= item.product.name %>
                        </p>
                        <p class="p3"><i class="fa-solid fa-list" style="color:orange; margin-right: 3px;"></i>Danh mục:
                            <%= item.product.danhMuc %>
                        </p>
                    </div>
                    <div class="danhmuc1">
                        <!-- Hiển thị thông tin giá, số lượng và thành tiền -->
                        <p class="p3 p4">
                            <%= item.product.gia %> VNĐ
                        </p>
                        <p class="p3 p4" style="color:orange;">
                            <%= item.quantity %>
                        </p>
                        <p class="p3 p4" style="color:orange;">
                            <%= item.product.gia * item.quantity %> VNĐ
                        </p>
                        <a class="p3 p4" href="#" onclick="removeProduct('<%= item.product._id %>')"><i class="fa-solid fa-trash-can icon2"></i></a>
                    </div>

                </div>
                <% }); %>

        </div>
    </div>
    <div id="footer">
        <div class="box">
            <div class="logo"><img src="../images/logo1.png" alt=""> </div>
            <p>Cung cấp sản phẩm với chất lượng an toàn cho quý khách </p>

        </div>
        <div class="box">
            <h3> Thông Tin</h3>
            <ul class="quick-menu">
                <div class="item">
                    <a href="">tel:0965274564</a>
                </div>
                <div class="item">
                    <a href="">adress:số 18,phố Tạ Quang Bửu</a>
                </div>
                <div class="item">
                    <a href="">FaceBook </a>
                </div>
            </ul>

        </div>
        <div class="box">
            <h3>LIÊN HỆ</h3>
            <form action="">

                <input type="text" placeholder="Địa chỉ mail">
                <button>Gửi tin</button>
            </form>

        </div>

    </div>

    </div>
    <div class="muahang">
        <button type="button" class="button2">Mua hàng</button>
        <div class="row1" style="display: none;">
            <div class="box-left">
                <h1 class="h1">Đạt food</h1>
                <div style="display:flex">
                    <p style="color:orange;margin-left:20px">giỏ hàng</p>
                    <p>/ thông tin giao hàng</p>
                </div>
                <p style="margin-left:20px; font-weight: bold; margin-top: 0px;">Thông tin giao hàng</p>

                <form action="/user/order/<%= cart._id %>" method="POST">
                <div class="form-group">
                    <label for="name" style="display: block; margin-left: 5px;">Tên khách hàng</label>
                    <input type="text" name="name" class="form-control"
                        style="width:80% ; border:none;border-radius: 4px; margin-left: 10px;background-color: #f2f2f2; "
                        value="<%= user1.name %>" required>
                </div>
                <div class="form-group">
                    <label for="phone" style="display: block; ; margin-left: 5px;">Số điện thoại</label>
                    <input type="text" name="phone" class="form-control"
                        style="width:80% ;border:none;border-radius: 4px; margin-left: 10px;background-color: #f2f2f2; " value="<%= user1.phone %>" required>
                </div>
                <div class="form-group">
                    <label for="diachi" style="display: block; ; margin-left: 5px;">Địa chỉ</label>
                    <input type="text" name="diachi" class="form-control"
                        style="width:80% ;border:none;border-radius: 4px; margin-left: 10px;height:50px ;background-color: #f2f2f2;" value="<%= user1.diachi %>"
                        required>
                </div>
                
                    <div class="form-group">
                        <label for="paymentMethod" style="display: block; ; margin-left: 5px;font-size: 25px; ">Hình thức thanh toán</label>
                        <select name="paymentMethod" class="form-control" style="width:80% ;border-radius: 4px; margin-left: 10px;background-color: #f2f2f2;" required>
                            <option>Thanh toán khi giao hàng (COD)</option>
                            <option>Thanh Toán Online</option>
                        </select>
                    </div>
                    <div style="display:flex; justify-content: space-between; margin: 20px;">
                        <button type="submit" class="btn btn-primary">Mua hàng</button>
                        <button type="button" class="btn btn-danger close-form">Đóng</button>
                    </div>
                </form>
                
            </div>

            <div class="box-right" style="background-color: #f2f2f2;">
                <div class="ctn">
                        
                        <%  let totalProductPrice=0; let shippingFee=30000;
                        cartItems.forEach(item=> { %>
                            <div style="display:flex; justify-content: space-between; margin: 20px 0px;">
                                <img src="<%= item.product.anh %>" alt=""
                                    style="height:60px; width:80px; border-radius: 3px;">
                                <p>
                                    <%= item.product.name %>
                                </p>
                                <p>số lượng:<%= item.quantity %>
                                </p>
                                <p>
                                    <%= item.product.gia %> VNĐ
                                </p>
                            </div>
                            
                            <% totalProductPrice +=item.product.gia * item.quantity; %>
                        <% }); %>
                </div>
                <div style="dislay:flex; margin:30px;border-bottom: 2px solid rgb(118, 118, 118) ;">
                    <input type="text" style="border-radius: 4px; border:2px solid #007bff;width:70%;"
                        placeholder="nhập mã giảm giá">
                    <button
                        style="background-color: #007bff; color:white ;border:none ;height:40px ;border-radius: 3px; margin-bottom: 10px;">
                        sử dụng
                    </button>
                </div>
                <div style="margin:30px ;border-bottom: 2px solid black;">
                <div style="display:flex ;justify-content: space-between; margin: 20px 0px;">
                    <p>tổng tiền sản phẩm</p>
                    <p><%= totalProductPrice %> VNĐ</p>
                </div>
                
                <div style="display:flex ;justify-content: space-between;">
                    <p>Phí vận chuyển</p>
                    <p><%= shippingFee %> VNĐ</p>
                </div>
                </div>
                <div style="margin:30px; display:flex; justify-content: space-between;">
                    <p>Tổng tiền</p>
                    <p><%= totalProductPrice + shippingFee %> VNĐ</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wraper" style="height:200px;width:300px ;display: none;z-index:9999;position: fixed;
    top: 80px;
    left: 10px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);" id="chatBox">
        <section>
            <header  style="background-color: orange; border-radius: 2px; height: 40px; position: relative;">
                <div >
                    <img  style="height:20px; width:20px ;border-radius:50%; margin-top:10px;margin-left:20px"    src="https://tse4.mm.bing.net/th?id=OIP.kQyrx9VbuWXWxCVxoreXOgHaHN&pid=Api&P=0&h=180" atl="">
                    <span style="margin-bottom: 5px;color:white;">Admin</span>
                    <i id="closeChat" style="position: absolute; top: 0; right: 0; margin-top: 10px; margin-right: 10px; cursor: pointer;" class="fa-solid fa-xmark"></i>

                </div>
            </header>
            <div class="chat-box">
                <div class="chat outgoing">
                    <div class="details">
                        <p>hello</p>
                    </div>
                </div>
                <div class=" chat incoming">
                    <div class="details">
                        <p>hi</p>
                    </div>
                </div>
            </div>
            <form action="#" class="typing-area" style="background-color: orange;border-radius: 3px;">
                <input type="text " name="incoming_id" class="incoming_id" id="" hidden>
                <input type="text" name="message" class="input-field " placeholder="nhập nội dung">
                <button>
                    <i class="fab fa-telegram-plane"></i>
                </button>
            </form>
        </section>
    </div>

    <script type="text/javascript" src="../js/logout.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Lắng nghe sự kiện khi nút "Mua hàng" được nhấn
            document.querySelector('.button2').addEventListener('click', function () {
                // Hiển thị phần tử có class "row1"
                document.querySelector('.row1').style.display = 'flex'; // hoặc 'block' tùy thuộc vào yêu cầu của bạn
            });
            document.querySelector('.close-form').addEventListener('click', function () {
                // Ẩn phần tử có class "row1"
                document.querySelector('.row1').style.display = 'none';
            });
        });
    </script>
    <script>
        function removeProduct(productId) {
          // Make an AJAX request to your Express route
          fetch(`/user/cart/remove/${productId}`, {
            method: 'POST',
            credentials: 'same-origin', // Include credentials (cookies) for same-origin requests
          })
            .then(response => {
              if (!response.ok) {
                throw new Error('Failed to remove product');
              }
              // Reload the page or update the cart items in the DOM as needed
              location.reload(); // Example: Reload the page
            })
            .catch(error => {
              console.error('Error removing product:', error);
              // Handle the error, display a message, or take appropriate action
            });
        }
      </script>
       <script>
        document.addEventListener('DOMContentLoaded', function() {
  const showChatButton = document.getElementById('showChat');
  const closeChatIcon = document.getElementById('closeChat');
  const chatBox = document.getElementById('chatBox');

  // Toggle chat box display on button click
  showChatButton.addEventListener('click', function() {
    if (chatBox.style.display === 'none' || chatBox.style.display === '') {
      chatBox.style.display = 'block';
    } else {
      chatBox.style.display = 'none';
    }
  });
  closeChatIcon.addEventListener('click', function() {
    chatBox.style.display = 'none';
  });
});
    </script>
</body>


</html>